.mainHeader {
  position: fixed;
  padding: 0 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 80px;
  width: 100vw;
  z-index: 1;
}

.headerNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  margin: 0 100px;
}

.logoAndLocation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 130px;
}

.logo {
}

.locationDropdown {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  color: #333;
  position: relative;
  /* For the underline */
}

.locationDropdown .locationText {
  background: transparent;
  border: none;
  font-weight: 700;
  font-size: 18px;
}

.locationDropdown .dropdownArrow {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fc8019;
  /* Orange arrow */
  margin-left: 8px;
  transform: translateY(2px);
  /* Adjust to align with text */
}

.locationDropdown::after {
  content: '';
  position: absolute;
  bottom: -5px;
  /* Adjust to position the underline */
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000;
  /* Color of the underline */
}

.menu {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  width: 40vw;
}

.menu li {
  /* margin-right: 50px; */
  color: rgba(2, 6, 12, 0.9);
  font-size: 16px;
  font-weight: 400;
}

.menuItem a {
  text-decoration: none;
  color: #555;
  font-weight: 700;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 8px;
  /* Space between icon and text */
  transition: color 0.3s ease;
}

.menuItem li a:hover {
  color: #fc8019;
  /* Hover effect */
}

.iconDownArrow:before {
}
